
spring.application.name=application
spring.datasource.url=jdbc:postgresql://ep-snowy-water-a8xsouqx-pooler.eastus2.azure.neon.tech/neondb?user=neondb_owner&password=npg_2iUtxskjoF3M&sslmode=require&channelBinding=require
server.port=8085
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
logging.level.org.springframework.web=DEBUG
logging.level.org.springframework.boot.autoconfigure.web.servlet.WebMvcAutoConfiguration = DEBUG
